<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
</head>

<body>
<!--Page header-->
<h1 class="page-header">Admin</h1>
<h2 class="page-header">Users</h2>
<div class="table-responsive">
    <!--Represented as table-->
    <table class="table table-hover table-bordered table-responsive texts">
        <thead>
        <tr>
            <th class="col-xs-3 page-header1">
                        <span ng-show="model.sortType == 'username'">
                            <span ng-show="!model.sortReverse" 
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" ></span></span>
                Username
            </th>
            <th class="col-xs-3 page-header1">Password</th>

            <th class="col-xs-3 page-header1" ng-click="model.sortType='roles'; model.sortReverse = !model.sortReverse">
                        <span ng-show="model.sortType == 'roles'">
                            <span ng-show="!model.sortReverse" 
                                  aria-hidden="true"></span>
                            <span ng-show="model.sortReverse" ></span></span>
                Roles</th>

            <th class="col-xs-3 page-header1">Actions</th>
        </tr>
        <tr>
            <th>
                <input class="form-control" type="text" name="usrname" placeholder="username"
                       ng-model="model.user.username">
            </th>
            <th>
                <input class="form-control" type="password" name="passwd" placeholder="password"
                       ng-model="model.user.password">
            </th>

            <th>
                <input class="form-control" type="text" name="role" placeholder="role1,role2"
                       ng-model="model.user.roles">
            </th>
            <th  class="table-content-nowrap">
                <a href=""  ng-click="model.update(model.user)">
                    <span class="glyphicon glyphicon-ok greens"></span>
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in model.users | orderBy:model.sortType:model.sortReverse">
            <td>{{user.username}}</td>
            <td>{{user.password}}</td>
            <td>{{user.roles}}</td>
            <td>
                &nbsp;
                <a href=""  ng-click="model.select(user)">
                    <span class="glyphicon glyphicon-eye-open greens"></span>
                </a>
                <a href=""  ng-click="model.remove(user, $index)">
                    <span class="glyphicon glyphicon-remove-circle reds"></span>
                </a>&nbsp;
            </td>
        </tr>
        </tbody>
    </table>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="pull-right ">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
</body>
</html>