<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-brand">
            <div class="black">
                Profile
            </div>
        </div>

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}" class="white">
                <span ng-click="model.updateUser(model.user)"
                      class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>

<div class="container">

    <div ng-show="model.error"
         class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.message"
         class="alert alert-success">
        {{model.message}}
    </div>

    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input ng-model="model.user.username"
                   type="text"
                   class="form-control"
            <label for="email">Email address</label>
            <input ng-model="model.user.email"
                   type="email"
                   class="form-control"
                   id="email"
                   placeholder="alice@wonderland.com">
            <label for="first-name">First Name</label>
            <input ng-model="model.user.firstName"
                   type="text"
                   class="form-control"
                   id="first-name">
            <label for="last-name">Last Name</label>
            <input ng-model="model.user.lastName"
                   type="text"
                   class="form-control"
                   id="last-name">
        </div>
        <a class="btn btn-primary btn-block"
           href="#/user/{{model.userId}}/website">
            Websites
        </a>
        <a class="btn btn-danger btn-block"
           href="#/login">
            Logout
        </a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/#" class="white">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
