<!DOCTYPE html>
<footer class="panel-footer footer">
    <div class="container-fluid footer-container">
        <h5 class="inverted-color form-heading">
            <span class="glyphicon glyphicon-music"></span> Symphony</h5>
        <p class="text-left inverted-color">
            <b><span class="glyphicon glyphicon-music"></span> Symphony</b> is a trademark of Symphony Ltd.
            <br /> Copyright
            <span class="glyphicon glyphicon-copyright-mark"></span> 2016 Symphony
            <br /> All Rights Reserved
        </p>
    </div>
</footer>