<!-- This file displays the Register page -->

<div ng-controller="RegisterController">
    <div class="log-back">
        <h1 class="reg-page-header">Login</h1>

        <!-- Displays an error message -->
        <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

        <form class="form-horizontal reg-form">

            <div class="form-group">
                <label for="username" >Username</label>
                <input type="text" ng-model="model.username"
                       class="form-control field-width" id="username"
                       placeholder="User Name">
            </div>


            <!-- Password input -->
            <div class="form-group">
                <label for="password" >Password</label>
                <input type="password" ng-model="model.password"
                       class="form-control field-width" id="password"
                       placeholder="Password">
            </div>



            <!-- Button for the registration of the user to happen -->
            <div class="form-group field-widths">
                <button ng-click="model.login(model)" class=" reg-btn btn-success btn-block">Login</button>
            </div>

            <div class="form-group field-widths">
                <button> <a class="reg-btn btn-warning btn-block"  href="#/register">Register</a></button>
            </div>


                <div> <button class="loginBtn loginBtn--google"><a href="/google/auth/">Login with Google
                </a></button>
                </div>

            <div><button class="loginBtn loginBtn--facebook"><a href="/auth/facebook">
                 Login with Facebook
            </a></button>
                </div>






        </form>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <div class="pull-right ">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>

