<!-- This file displays the Register page -->

<div ng-controller="RegisterController">
    <div class="reg-back">
    <h1 class="reg-page-header">Register</h1>

    <!-- Displays an error message -->
    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

    <form class="form-horizontal reg-form">

        <div class="form-group reg-label">
            <label for="firstname" >First Name</label>
                <input type="text" ng-model="model.firstname"
                       class="form-control field-width" id="firstname"
                       placeholder="First Name">
            </div>

        <div class="form-group">
            <label for="username" >Username</label>
                <input type="text" ng-model="model.username"
                       class="form-control field-width" id="username"
                       placeholder="User Name">
            </div>


        <!-- Password input -->
        <div class="form-group">
            <label for="password" >Password</label>
                <input type="password" ng-model="model.password"
                       class="form-control field-width" id="password"
                       placeholder="Password">
            </div>

        <!-- Verify Password input -->
        <div class="form-group">
            <label for="password2" >Verify Password</label>
                <input type="password" ng-model="model.password2"
                       class="form-control field-width" id="password2"
                       placeholder="Verify Password">
            </div>

        <!-- Email input -->
        <div class="form-group ">
            <label for="email" >Email</label>
                <input type="email" ng-model="model.emails"
                       class="form-control field-width" id="email"
                       placeholder="Email Id">
            </div>


        <!-- Button for the registration of the user to happen -->
        <div class="form-group field-widths">
                <button ng-click="model.register(model)" class=" reg-btn btn-success btn-block">Register</button>
            </div>
        <div class="form-group field-widths">
            <button> <a class="reg-btn btn-danger btn-block"  href="#/login">Cancel</a></button>
        </div>

    </form>
        </div>
    <nav class="navbar navbar-default navbar-fixed-bottom ">
        <div class="container-fluid">
            <div class="pull-right ">
                <a class="navbar-brand"
                   href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</div>



