.list-group-item {
    border: none;
    margin-top:10px;

}
.col-sm-8 {
    margin-top: 100px;
}
.list-group {
    margin-top: -10px;
}
.form-group{
    margin-top: 50px;
}

.glyphicon-plus {
    float: right;
    padding-top: 15px;
    font-size: 17px;
    color: white;
}
.glyphicon-chevron-left {
    float: left;
    padding-top: 15px;
    font-size: 17px;
    color: white;
}

.navbar-brand {
    font-size: 20px;
    color: white !important;
}

.glyphicon-ok{
    color:white;
    float:right;
    padding-top: 15px;
    padding-right: 10px;
}
.glyphicon-user{
    float: right;
    padding-top: 15px;
    color: white;
}
.navbar {
    background-color: rgb(51, 122, 183);
}

.scroll {
    overflow-y:scroll;
    height: 100px;
}
@media (min-width: 1200px){
    .col-lg-8 {
        width: initial;
    }


}