.list-group-item {
    border: none;
    margin-top:10px;
}
.col-sm-8 {
    margin-top: 100px;
}
.list-items {
    margin-top: 50px;
}
.glyphicon-plus {
    float: right;
    padding-top: 15px;
    font-size: 17px;
    color: white;
}
.glyphicon-chevron-left {
    float: left;
    padding-top: 15px;
    font-size: 17px;
    color: white;
}

.navbar-brand {
    font-size: 20px;
    color: white !important;
}

.glyphicon-ok{
    color:white;
    float:right;
    padding-top: 15px;
}
.glyphicon-user{
    float: right;
    padding-top: 15px;
    color: white;
}
.navbar {
    background-color: rgb(51, 122, 183);
}