/* background image renders over full html */
html {
    background: url('../images/full-bkg.jpg')  center center fixed;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
}

body {
    background-color: inherit;
    padding-top: 50px;

}
.no-bkg{
    background-color: rgba(0, 0 , 0, 0.5);
    margin: 0 2px;
}


.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
/* fixed navabar top */

.navbar-fixed-top {
    border: 0;
}
/*media query for the sidebar responds when min width exceeds 768px*/
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #202020;
        border-right: 1px solid rgba(255, 255, 255, 0.0980392);
    }
}

/* navbar for the sidebar */
.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
/* main and the media query for main when the screen size increases to 768 px*/

.main {
    padding: 20px;
    margin-top: 0;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}


/*styling for page header*/
.page-header{
    margin-top: 0;
    text-align: center;
    font-family: "Satisfy";
}

.page-header1{
    font-family: "Satisfy";
    font-size: 20px;
}

/* color constants */
.greens{
    color: green;
}
/* color constants */



/* links css */
a {
    font-size: medium;
    cursor: pointer;
    padding: 1px 5px 5px;
}

.navbar>.container , .navbar>  {
    background-color: transparent;
}

.linkcolor {
    color: #fff !important;
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}


/* css whenever we hover over a link */
a:hover {
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
}

p {
    font-size: large;
    font-family: "Satisfy";
    text-decoration: none;
    color: ivory;
    overflow-wrap: break-word;
}

.panel-body {
    color: white;
    background-color: cornflowerblue;
}
.panel-heading{
    background-color: #2b669a;
}

.reds{
    color: red;
}

.panel-default {
    background-color: rgba(78, 20, 52, 0.55);
    border-color: #122b40;
}

.panel-default {
    border-color: black;
}

label {
    color: #080808;
    font-weight: bolder;
    font-size: larger;
}


/* whenever a wrong value or undesired value is entered it gets triggered  */
.alert-danger {
    background-color: rgba(191, 59, 59, 0.5);
    border-color: rgba(189, 0, 31, 0.4);
    text-align: center;
}

/* it gets trigeered for successful submission */
.alert-success {
    background-color: rgba(35,99,70,0.5);
    border-color: rgba(16, 128, 111, 0.4);
    text-align: center;
}

.form-control {
    color: black;
}

/* registration button */
.reg-btn {
    color: #fff;
    font-size: medium;
    max-width: 150px;
    min-width: 150px;
    border-color: #424242;
    font: bold 20px Arial, sans-serif;
    text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: auto;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    border: 3px solid;
    border-color: #bbbbbb #a2a2a2 #888888;
    background-color: #000;
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em
    rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3)
    inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}


/* class for lists */
.c {
    list-style-type: square;
    text-transform: capitalize;
    color:#fff;
}
.c a {
    color: white !important;
    text-transform: capitalize;
    color:#fff;
}

#profileDetails{
    text-transform: capitalize;
    font-family: Raleway;
}
.tags{
    color: #ffffff;
}
.container-fluid a{
    color: #fff;
}
.btn {
    color: #ffffff;
    font-size: medium;
    max-width: 150px;
    min-width: 150px;
    border-color: #424242;
    font: bold 20px Arial, sans-serif;
    text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: auto;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    border: 3px solid;
    border-color: #bbbbbb #a2a2a2 #888888;
    background-color: #0f0f0f !important;
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em
    rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3)
    inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}

.text{
    text-align: center;
}

.btns a{
    text-decoration: none;
}


#trends {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
    font-weight: bold;
}

#contacts {
    background-color:#000;
    margin: 0 -39px -6px;
    color:#000;
    text-align: center;
    background-image: url("../images/footer.jpg");
    background-size: 50%;
    background-position-y: 41%;;
}

#contacts a{
    text-decoration: none ;
}

.login-text{
    font-size: 20px;
    line-height: 156%;
}

.tops1 {
    padding: auto;
    margin:auto;
}
@media (min-width: 768px) {
    .tops1 {
        padding: auto;
        margin:auto;
    }
}

@media (min-width: 1024px) {
    .tops1 {
        padding: auto;
        margin: auto;
    }
}

.footer {
    border-top: 2px solid rgba(255, 20, 147, 0.31);
    position: relative;
    margin-top: -190px;
    height: 190px;
    clear: both;
    min-height: 200px;
    background: rgba(91, 9, 65, 0.67);
    margin-bottom: 0px;
    padding: 1px 1px 1px 1px;
    z-index: -999;
}


.thumbnail {
    border: INSET;
    min-height: 320px;
}

.table{
    background-color: rgba(0,0,0,0.4);
}

.table-responsive>.table {
    background-color: rgba(0,0,0,0.4);
}


h2, .h2, .h3 {
    font-family:"Marker Felt";
    background-color: rgba(0,0,0,0.5);
}

.container-fluid {
    background-color: rgba(0, 0, 0, 0.4);
    color:#122b40;
}

.row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.album-text{
    background-image: url("../images/artists.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: 63%;
}

/*.table.table-striped>tbody>tr:nth-of-type(odd){background-color: rgba(230, 23, 230, 0.5)}*/
.table-hover>tbody>tr:hover{background-color:#122b40}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: transparent;
}

.nav-tabs {
    display: inline-flex;
}
ul, ol {
    padding-left: 20px;
}

.img-circle:hover {
    transform: scale(1.2);
}


#tags {
    margin-bottom: 20px;
    margin-top: 20px;
}


.tracks{
    font-family: 'Satisfy';
}
.tracks:hover {

    transform: scale(1.2);
}
ul#tags li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
}

ul#tags
{
    margin-left: 0;
    padding-left: 0;
    white-space: nowrap;
}

#tags li
{
    display: inline;
    list-style-type: none;
    float: left;
}

#tags a {
    padding: 3px 10px;
}


#title{
    color: orange;
}
#tags a:link, #tags a:visited
{
    color: #fff;
    background-color: rgba(0,0,0,0.25);
    text-decoration: none;
    font-size: small;
}

#tags a:hover
{
    transform: scale(1.2);
}

#taglist {
    margin-left: 5px;
    margin-right: 5px;
    text-transform: capitalize;
}

.label-left{
    font-family: "Marker Felt";
    color: #fff !important;
}

.control-label{
    font-family: "Marker Felt";
    color: #fff !important;
}

#tagLabel {
    color: #fff;
    margin-left: 15px;
    font-size: 30px;
    font-family: Cursive;

}

#similar {
    margin-bottom: 20px;
    margin-top: 20px;
}

#fav {
    margin-bottom: 20px;
    margin-top: 20px;
}

#review {
    margin-bottom: 20px;
    margin-top: 20px;
}

#removeGlyph {
    float: right;
    cursor: pointer;
}
#commentBox {
    margin: 0px;
    width: 100%;
    height: 80px;
    background-color: #2c2c2c;
    color:#fff;
}




.comment{
    font-family: Cursive;
    font-size: 20px;
}
#trackList {
    width: 100%;
    height: 70px;
}

.artist{
    color:#fff;
}

#profileDetails {
    color:white;
    font-weight: bold;
}

#newMember {
    background-color: black;
}

.background1 {
    text-transform: capitalize;
    background-image: url("../images/main-bkg.jpg");
    background-size: contain;
    padding:2.5%;
}
#intro-text {
    margin: auto;
    text-align: center;
    color: #000000;
    padding: 15px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4); }

.caption a {
    text-transform: capitalize;
    color: #fff ;
}


.contact-info {

    font-family: "Marker Felt";
    font-weight: bolder;
    background-color: transparent !important;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

.contact-info-p {
    font-family: Copperplate;
    font-size: larger;
    background-color: transparent !important;
    color: #fff;
    text-align: center;


}

.btn-sm{
    font-size: 12px !important;
    background-color: transparent !important;
    border-color: transparent !important;
    color: #fff; !important;
}

.navbar-heads{
    color: #fff !important;
}

.banner {
    background-image: url("../images/footer.jpg");
    background-repeat: no-repeat;
}

.welcome{
    text-align: center;
    color: #000000;
    font-weight: bolder;
    padding: 15%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 250%;}

.field-width{
    max-width: 300px;
    margin: auto;
    text-align: center;
}
.reg-page-header {
    text-align: center;
    font-family: Satisfy;
}
.reg-form{
    text-align: center;
}
@media (min-width: 768px) {
    .log-back {
        background-color: rgba(205, 104, 137, 0.4);
        margin: 0 175px;
    }
}

@media (min-width: 1024px) {
    .log-back {
        background-color: rgba(205, 104, 137, 0.4);
        margin: 0 260px;
    }
}
@media (min-width: 768px) {
    .reg-back {
        background-color: rgba(205, 104, 137, 0.4);
        margin: 0 137px;
    }
}

@media (min-width: 1024px) {
    .reg-back {
        background-color: rgba(205, 104, 137, 0.4);
        margin: 0 237px;
    }
}
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    margin: -2px -3px -5px -3px;
    font-size: 16px;
    border: none;
    text-transform: capitalize;
}

.container-fluid{
    margin-top: 10px;}
.navbar-brand {
    background-color: transparent;
    font-family: serif;
    text-decoration: none;
}

.navbar-brand {
    background-color: transparent;
    font-family: serif;
    text-decoration: none;
    font-size:30px;
    margin-top: -10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.navbar-fixed-bottom {
    background-color: rgba(0,0,0,0.5);
    margin-top: 10px;
}

.dropdown-content a:hover {background-color: rgba(191, 59, 59, 0.5);
    color: #fff;}

.dropdown:hover .dropdown-content {
    display: block;
    color: #fff !important;
}

.dropdown:hover .dropbtn {
    background-color: rgba(91, 119, 159, 0.5);;
}

.glyphicon-searchs{
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #fff;
    width: 150px;
    padding: 6px 15px 6px 35px;
    border-radius: 20px;
    margin-top: 12px;
    margin-right: -30px;
    background-image: url("../images/footer.jpg");
}

.glyphicon-headphones {
    float: left;
    font-weight: bold;
}

.zoom{
    top: 4px;
    left: -2px;
    font-size: 15px;
    color: #fff;
}

.btnn{
    background-color: #0f0f0f !important;
    border-color: #2c2c2c;
    color: #ffffff;
}

.btnnn{
    background-color: #0f0f0f !important;
    border-color: #2c2c2c;
    color: #ffffff;
    border-radius: 50px;
}

.btnns{
    min-width: 15px !important;
    max-width: 90px !important;
    font-size: 10px;
}

@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);
div.social-wrap button {
    padding-right: 45px;
    height: 35px;
    background: none;
    border: none;
    background-size: 35px 35px;
    background-position: right center;
    background-repeat: no-repeat;
    border-radius: 4px;
    color: white;
    font-family: "Merriweather Sans", sans-serif;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    box-shadow: 0 4px 2px -2px gray;
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
}

button#googleplus {
    border-color: #111;
    background-color: #222;
    text-shadow: #333 -1px -1px 0;
    background-image: url(http://www.iconsdb.com/icons/preview/white/google-plus-xxl.png);
}

div.social-wrap button:active {
    background-color: #222;
}




ul.sm-wrap {
    list-style-type: none;
    padding: 0px;
}

ul.sm-wrap li {
    font-family: "Helvetica", sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
    padding-left: 20px;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

ul.sm-wrap li#facebook-sm {
    background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}

ul.sm-wrap li#twitter-sm {
    background-image: url(https://g.twimg.com/Twitter_logo_blue.png);
}

ul.sm-wrap li#gplus-sm {
    background-image: url(https://lh3.googleusercontent.com/-IMGb4CkWC98/VeXR6rWlM1I/AAAAAAAA7c4/aC-I28R6_psCNtxmIXAtNuMja5wCYUR9A/w1664-h1664/GooglePlus-logos-02.png);
}

ul.sm-wrap a {
    text-decoration: none;
}