input.form-control {
    margin-bottom: 5px;
}

body {
    height: 100%;
    padding-top: 36px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #dcdcdc;
}

.navbar {
    background-color: #b0b0b0;
}

.vertical-line {
    height: 75vh;
    border-right: 2px solid white;
    overflow: auto;
}

.align-center {
    text-align: center;
}

.website-name {
    font-family: 'Cookie', cursive;
    font-size: 64px;
    text-shadow: 4px 4px 4px #aaa;
}

.enter-website {
    font-family: 'Tangerine', serif;
    text-shadow: 4px 4px 4px #aaa;
    position: fixed;
    left: 10px;
    top: 10px;
}

.btn {
    margin-bottom: 10px;
}

.blank-lines {
    margin-bottom: 50px;
}

.white {
    color: white;
}

.black {
    color: black;
}

a:hover, a:link {
    text-decoration: none;
}
