body {
    background-image: url("001-subtle-light-pattern-background-texture-vol5.jpg")
}

.navbar-default .navbar-brand{
    color:#fff;
    font-weight: bolder;
}

.navbar-default {
    color:#122b40;
}
.navbar-brand:hover {
    transform: scale(1.2);
    color:#fff !important;
}

.navbar-fixed-top{
    border-width: 0 0 0;
}

.navbar-brand{
    font-size: 15px;
}

.glyphicon-ok, .glyphicon-plus, .glyphicon-user, .glyphicon-share-alt .glyphicon-search{
    color: white;
}

.glyphicon-ok:hover, .glyphicon-plus:hover, .glyphicon-user:hover, .glyphicon-share-alt:hover {
    transform: scale(1.1);
}
.form-control{
    border-radius: 0;
}
.btn{
    border-radius: 0;
}

input.form-control {
    margin-bottom: 5px;
}

a:hover{
    text-decoration: none;
}

body {
    font-family: 'Helvetica', sans-serif;
    margin-top: 60px;
    margin-bottom: 50px;
}

textarea{
    resize: vertical;
}
a{
    cursor: pointer;
}

a.thumbnail:hover, .thumbnail{
    border: 0;
}

a.thumbnail{
    cursor: default;
}

.bar-colour{
    background-color: #122b40;
}

.empty-form-margin{
    margin-top: 50px;
}

.btn-margin-bottom{
    margin-bottom: 5px;
}

.margin-right-adjust{
    margin-right: -15px;
}

.margin-left-adjust{
    margin-left: -15px;
}

a.btn{
    padding: 7px 0;
    max-width: 200px;
    align-content: center;
    margin: 5px;
    align: center;
}
.left-scroller {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin-top: 50px 0;
    padding-top: 10px;
    overflow: auto;
}
.right-scroller {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 50px 15px;
    padding-top: 10px;
    overflow-y: auto;
}


.buttons-styles{
    margin-top: 30px;
    }


.other-links{
    margin: 20px auto 10px;
    max-width: 500px;

}

.other-links {
    padding: 30px 25px;
}
.other-links {
    padding: 0;
}

.col-md-6{
    padding: 0;
}

.profile-heading{
    font-size:26px;
    color: #000;
    padding: 10px;
    max-width: 600px;
    margin-bottom: 10px;
    max-width: 500px;
    margin-left:auto;
    margin-right: auto;
}


.website-record{
    padding: 10px 0;
}

.form-padding{
    padding-top: 10px;
}

.page-list-record{
    padding: 10px 0;
}

.widget-type-styles{
    padding-bottom:30px;
}
.widget-setings-icon{
    position: absolute;
    float: right;
    right:15px;
    top: 0;
}
.cog-style{
    padding: 5px;
    background-color: #122b40;
    color: #FFF;
}
.hamburger-style{
    padding: 5px;
    background-color: #122b40;
    color: #FFF;
}

.hamburger-style:hover{
    transform: scale(1.1);
    cursor:move;
}
.widget-type-styles .thumbnail{
    padding: 10px;
}

.widget-chooser-record{
    padding: 15px;
}

.hide-element{
    display: none;
}

.youtube-widget{
    position: relative;
    padding-bottom: 55%;
    height: 0;
}

.youtube-widget iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
}

.flickr-image-box{
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}
.flickr-image-box img {
    cursor: pointer;
    width: 75%;
    height: 75%;
}
.btn-black {
    color: #fff;
    background-color: black;
}

.btn-black:hover{
    color: #fff !important;
}

.image-upload{
    max-width: 200px;
    align:center;
    min-height: 35px;
    margin-top:15px;
    margin-right:5px;
}