
.navbar-default {
    color:#fff !important;;
    font-weight: bold;
}

.navbar-default {
    color:#fff;
}

.navbar-header {
    color:#fff;
}
.navbar-brand {
    color: #fff !important;
    font-weight: bold;
    padding-left:10px;
}
.navbar-brand:hover {
    transform: scale(1.2);
    color:#fff !important;
}
.navbar-fixed-top{
    border-width: 0 0 0;
}

.navbar-brand{
    font-size: 14px;
}

.glyphicon-ok, .glyphicon-plus, .glyphicon-user, .glyphicon-share-alt{
    color: white;
}
.glyphicon-ok:hover, .glyphicon-plus:hover, .glyphicon-user:hover, .glyphicon-share-alt:hover .glyphicon-cog:hover{
    transform: scale(1.5);

}

.form-control{
    border-radius: 0;
}
.btn{
    border-radius: 0;
}

input.form-control {
    margin-bottom: 5px;
}



body {
    font-family: 'Helvetica', sans-serif;
    margin-top: 60px;
    margin-bottom: 50px;
}

a{
    cursor: pointer;
}

/* My webdev custom styles */

.bar-color{
    background-color: #337ab7;
}

.empty-form-margin{
    margin-top: 10px;
}

.btn-margin-bottom{
    margin-bottom: 5px;
}

.margin-right-adjust{

    margin-right: -15px;
}

.margin-left-adjust{
    margin-left: -15px;
}


.left-pane {
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: 50px 0;
    padding-top: 10px;
    overflow: auto;
}
.right-pane {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: 50px 0;
    padding: 10px 15px 0;
    overflow-y: auto;
}

.other-links .col-md-6{
    padding: 0;
}
.profile-heading{
    font-size:25px;
    padding: 10px;
    max-width: 500px;
    margin-bottom: 0 auto 10px;
    max-width: 500px;
}


.form-adjust{
    padding-top: 10px;
}

.page-list-record{
    padding-top: 10px;
    padding-bottom: 10px;
}

.widget-type-style{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
.widget-setings-icons{
    position: absolute;
    float: right;
    right:15px;
    top: 0;
}

.widget-chooser-record{
    padding: 15px;
}