<div class="container-fluid" ng-controller="PlayerController as model">
    <div class="container-fluid">
        <h1 id="title">{{model.title}}</h1>
    </div>

    <br/>
    <div class="container-fluid" id="player"></div>
    <nav class="navbar navbar-default navbar-fixed-bottom ">
        <div class="container-fluid">
            <div class="pull-right ">
                <a class="navbar-brand"
                   href="#/user/{{model.userId}}">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </nav>
</div>