.pull-left, .pull-right {
    padding-top: 10px;
}

.pull-left {
    padding-left: 10px;
}

.pull-right {
    padding-right: 10px;
}

.course-name, .course-number {
    font-family: 'Cookie', cursive;
    color: black;
    text-shadow: 4px 4px 4px #aaa;
}

.course-name {
    font-size: 64px;
}

.course-number {
    font-size: 48px;
}

.my-name {
     font-family: 'Tangerine', serif;
     color: black;
     font-size: 48px;
     text-shadow: 4px 4px 4px #aaa;
 }

.header {
    background-color: #FFDAB9;
}

.content {
    background-color: #FFEFD5;
}