<nav class="navbar navbar-default navbar-fixed-top bar-colour">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right margin-right-adjust">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand margin-left-adjust">Pages</a>
        </div>
    </div>
</nav>
<div class="container-fluid wbdev-container-side-space-fix">
    <div ng-show="model.error" class="alert alert-warning text-center" role="alert"> {{model.error}}</div>
    <div class="row page-list-record"
         ng-repeat="page in model.pages">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget"
           class="col-xs-10">
            {{page.name}}
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}"
           class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom bar-colour">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right margin-right-adjust">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>