<div ng-controller="SearchController">


    <div ng-show="model.search">
        <nav>
            <ul class="nav nav-tabs">
                <li ng-show="model.artist"><a href="#/search/artist/{{model.searchTitle}}">Composers</a></li>
                <li ng-show="model.album" class="active"><a href="#/search/album/{{model.searchTitle}}">Albums</a></li>
                <li ng-show="model.track"><a href="#/search/track/{{model.searchTitle}}">Top Songs</a></li>
            </ul>
        </nav>
    </div>

