<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <div class="col-xs-1 navbar-text">
            <a href="#/user/:uid/page/:wid/page" class="white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="col-xs-8 col-sm-9 navbar-brand">
            <div class="black">
                Widgets
            </div>
        </div>

        <div class="col-xs-2 col-sm-1 navbar-text pull-right">
            <a href="widget-choose.html" class="white">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-sm-11">
            <h1>This is the header</h1>
        </div>
        <br>
        <div class="col-xs-1 col-sm-1">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-11">
            <h3>This is the text below the header</h3>
        </div>
        <br>
        <div class="col-xs-1 col-sm-1">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-10 col-sm-11">
            <img src="https://i.ytimg.com/vi/m46b-Dwoan4/maxresdefault.jpg" height="100%" width="100%">
        </div>

        <div class="col-xs-1 col-sm-1">
            <a href="widget-image.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-10 col-sm-11">
            <p>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>

        <div class="col-xs-1 col-sm-1">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-10 col-sm-11">
            <h3>Gerard Way - No Shows</h3>
        </div>
        <br>
        <div class="col-xs-1 col-sm-1">
            <a href="widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-10 col-sm-11">
            <iframe src="https://www.youtube.com/embed/FsDSIEq7O08" width="100%" height="300px" allowfullscreen></iframe>
        </div>

        <div class="col-xs-1 col-sm-1">
            <a href="widget-youtube.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/:uid" class="white">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>