<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <div class="col-xs-1 navbar-text">
            <a href="#/user/:uid/page/:wid/page/:pid/widget" class="white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="col-xs-9 navbar-brand">
            <div class="black">
                Choose Widget
            </div>
        </div>

    </div>
</nav>

<div class="container">
    <div class="pull-left">
        <a href="widget-heading.html">Header</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a href="#">Label</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a href="#">HTML</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a href="#">Text Input</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a href="#">Link</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a href="#">Button</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a href="widget-image.html">Image</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a href="widget-youtube.html">YouTube</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a href="#">Data Table</a>
    </div>
    <br>
    <br>
    <div class="pull-left">
        <a href="#">Repeater</a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/:uid" class="white">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>