<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <div class="col-xs-1 navbar-text">
            <a href="#/user/:uid/page/:wid/page/:pid/widget" class="white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="col-xs-8 col-sm-9 navbar-brand">
            <div class="black">
                Widget Edit
            </div>
        </div>

        <div class="col-xs-2 col-sm-1 navbar-text pull-right">
            <a href="#/user/:uid/page/:wid/page/:pid/widget" class="white">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>

    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <input type="text" class="form-control" id="text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" value="https://www.youtube.com/watch?v=FsDSIEq7O08">
        </div>
        <div class="form-group blank-lines">
            <label for="width">Width</label>
            <input type="text" class="form-control" id="width" value="100%">
        </div>
        <a class="btn btn-danger btn-block" href="#/user/:uid/page/:wid/page/:pid/widget">
            Delete
        </a>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/:uid" class="white">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
