<nav class="navbar navbar-default navbar-fixed-top bar-color">
    <div class="container-fluid container-side-space-fix">
        <div class="pull-right margin-right-adjust">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand margin-left-adjust">Widgets</a>
        </div>
    </div>
</nav>

    <div jga-sortable class="container-fluid container-side-space-fix">
    <div class="row widget-type-style"
         ng-repeat="widget in model.widgets">
        <div class="col-xs-12">
            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADER">
                    <ng-include src="'views/widget/templates/widget-HEADER.view.client.html'"></ng-include>
                    <div class="widget-setings-icons">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                           <span class="glyphicon glyphicon-cog cog-style"></span>
                        </a>
                         <span class="glyphicon glyphicon-menu-hamburger hamburger-style"></span>
                    </div>
                </div>
                <div ng-switch-when="YOUTUBE"
                     class="text-center">
                    <ng-include src="'views/widget/templates/widget-YOUTUBE.view.client.html'"></ng-include>
                    <div class="widget-setings-icons">
                         <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                             <span class="glyphicon glyphicon-cog cog-style"></span>
                         </a>
                        <span class="glyphicon glyphicon-menu-hamburger hamburger-style"></span>
                    </div>
                </div>

                <div ng-switch-when="IMAGE">
                    <ng-include src="'views/widget/templates/widget-IMAGE.view.client.html'"></ng-include>
                    <div class="widget-setings-icons">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog cog-style"></span>
                        </a>
                        <span class="glyphicon glyphicon-menu-hamburger hamburger-style"></span>
                    </div>
                </div>
                <div ng-switch-when="HTML">
                    <ng-include src="'views/widget/templates/widget-HTML.view.client.html'"></ng-include>
                    <div class="widget-setings-icons">
                        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                            <span class="glyphicon glyphicon-cog hamburger-style"></span>
                        </a>
                        <span class="glyphicon glyphicon-menu-hamburger hamburger-style-style"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom bar-color">
    <div class="container-fluid container-side-space-fix">
        <div class="pull-right margin-right-adjust">
            <a class="navbar-brand"
               href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>