<nav class="navbar navbar-default navbar-fixed-top bar-colour">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="navbar-header">
            <a class="navbar-brand"
               href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="navbar-brand margin-left-adjust">Choose Widget</a>
        </div>
    </div>
</nav>

<div class="container-fluid container-side-space-adjust">
    <div class="row">
        <div class="col-xs-12 widget-chooser-record">
            <a ng-click="model.createHeaderWidget(3)">
                Header
            </a>
        </div>
        <div class="col-xs-12 widget-chooser-record">
            <a ng-click="model.createYoutubeWidget()">
                Youtube Widget
            </a>
        </div>
        <div class="col-xs-12 widget-chooser-record">
            <a ng-click="model.createImageWidget()">
                Image Widget
            </a>
        </div>
        <div class="col-xs-12 widget-chooser-record">
            <a ng-click="model.createHTMLWidget()">
                HTML Widget
            </a>
        </div>
        <div class="col-xs-12 widget-chooser-record">
            <a ng-click="model.createTEXTWidget()">
                Text Input
            </a>
        </div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom bar-colour">
    <div class="container-fluid wbdev-container-side-space-fix">
        <div class="pull-right margin-right-adjust">
            <a class="navbar-brand"
               href="#/user/{{model.uid}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
