<div ng-show="model.updateerror"
     class="alert alert-warning text-center"
     role="alert">
    {{model.updateerror}}
</div>
<div class="form-group">
    <label for="imageUrl">Image Address</label>
    <input type="text"
           id="imageUrl"
           ng-model="model.widget.url"
           class="form-control"/>

    <form action="/api/upload"
          method="post"
          enctype="multipart/form-data">
        <div class="form-group">
            <label for="inputwidth">Width</label>
            <input type="text"
                   name="width"
                   id="inputwidth"
                   class="form-control"
                   ng-model="model.widget.width"/>
        </div>
        <label for="inputimage">Upload Image</label>
        <input name="myFile"
               type="file"
               id="inputimage"
               class="form-control"/>
        <input name="uid"
               value="{{model.uid}}"
               class="hide-element"/>
        <input name="wid"
               value="{{model.wid}}"
               class="hide-element"/>
        <input name="pid"
               value="{{model.pid}}"
               class="hide-element"/>
        <input name="widgetId"
               value="{{model.widget._id}}"
               class="hide-element"/>
        <button type="submit"
                class="btn btn-primary  btn-block col-xs-12 col-md-6 image-upload">Upload Image</button>
    </form>

</div>
<div class="form-group">
    <a class="btn btn-black btn-block col-xs-12 col-md-6"
       href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{model.wgid}}/flickrsearch">
        Search Flickr Image
    </a>
</div>
<div class="form-group">
    <a class="btn btn-danger btn-block col-xs-12 col-md-6"
       ng-click="model.deleteWidget(model.widget._id)">
        Delete Image
    </a>
</div>