<!-- This file displays the Header of the dashboard -->

<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target=".navbar-main-collapse"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home"> <span class="glyphicon glyphicon-music"></span> Symphony</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">

                <li>
                    <span>
                    <input type="text" name="search" placeholder="Search.."
                           ng-model="model.searchTitle" class="glyphicon glyphicon-searchs"/>
                        <a class="glyphicon glyphicon-search zoom" href="#/search/artist/{{model.searchTitle}}" ></a></span>

                </li>
                <li ng-show="currentUser" ng-class="active">
                    <div class="dropdown">
                        <button class="dropbtn">{{currentUser.username}}</button>
                        <div class="dropdown-content">
                            <a href="#/home" ng-click="model.logout()" data-toggle="collapse" data-target=".navbar-main-collapse">
                                Logout</a>
                            <a href="#/profile" data-toggle="collapse" data-target=".navbar-main-collapse">
                                Profile</a>
                        </div>
                    </div>
                </li>

                <li >
                    <div class="dropdown">
                        <button class="dropbtn">Browse</button>
                        <div class="dropdown-content">
                            <a href="#/home/#trends" ng-click="model.topTracks" data-toggle="collapse" data-target=".navbar-main-collapse">
                                Songs Top 15</a>
                            <a href="#/home/artist" ng-click="model.topTracks" data-toggle="collapse" data-target=".navbar-main-collapse">
                                Composers</a>
                        </div>
                    </div>
                </li>

                <li ng-class="{'active' : model.$location.url() =='/home'}">
                    <a href="#/home" data-toggle="collapse" data-target=".navbar-main-collapse">
                         Home
                        <span class="sr-only">(current)</span></a>
                </li>



                <li ng-show="currentUser.roles.indexOf('admin') >= 0"
                    ng-class="{'active' : model.$location.url() =='/admin'}" class="heads">
                    <a href="#/admin" data-toggle="collapse" data-target=".navbar-main-collapse">
                         Admin</a>
                </li>

                <li ng-hide="currentUser" ng-class="{'active':model.$location.url()== '/register'}" class="navbar-heads">
                    <a href="#/register" data-toggle="collapse" data-target=".navbar-main-collapse">
                         Register</a>
                </li>



                <li ng-hide="currentUser" ng-class="{'active':model.$location.url()== '/login'}">
                    <a href="#/login" data-toggle="collapse" data-target=".navbar-main-collapse">
                         Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>