<nav class="navbar navbar-default navbar-fixed-top">
    <div class="row container-fluid">

        <div class="col-xs-1 navbar-text">
            <a href="#/user/:uid/page/:wid/page" class="white">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="hidden-xs col-sm-2 navbar-brand">
            <div class="black">
                Pages
            </div>
        </div>

        <div class="hidden-xs col-sm-1 navbar-text">
            <a href="#/user/:uid/page/:wid/page/new" class="white">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>

        <div class="col-xs-8 col-sm-6 navbar-brand">
            <div class="black">
                Edit Page
            </div>
        </div>

        <div class="col-xs-2 col-sm-1 navbar-text pull-right">
            <a href="#/user/:uid/page/:wid/page" class="white">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>

    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <div class="hidden-xs col-sm-4 vertical-line">
            <div class="pull-left">
                <a href="#/user/:uid/page/:wid/page/:pid/widget">Blog Post</a>
            </div>
            <div class="pull-right">
                <a href="#/user/:uid/page/:wid/page/:pid">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
            <br>
            <br>
            <div class="pull-left">
                <a href="#/user/:uid/page/:wid/page/:pid/widget">Blog</a>
            </div>
            <div class="pull-right">
                <a href="#/user/:uid/page/:wid/page/:pid">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
            <br>
            <br>
            <div class="pull-left">
                <a href="#/user/:uid/page/:wid/page/:pid/widget">Home</a>
            </div>
            <div class="pull-right">
                <a href="#/user/:uid/page/:wid/page/:pid">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
            <br>
            <br>
            <div class="pull-left">
                <a href="#/user/:uid/page/:wid/page/:pid/widget">About</a>
            </div>
            <div class="pull-right">
                <a href="#/user/:uid/page/:wid/page/:pid">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
            <br>
            <br>
            <div class="pull-left">
                <a href="#/user/:uid/page/:wid/page/:pid/widget">Contact Us</a>
            </div>
            <div class="pull-right">
                <a href="#/user/:uid/page/:wid/page/:pid">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
            </div>
        </div>

        <div class="col-sm-8">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input ng-model="model.page.name"
                           type="text"
                           class="form-control"
                           id="name"
                           value="Blog Post">
                </div>
                <div class="form-group blank-lines">
                    <label for="title">Title</label>
                    <input ng-model="model.page.title"
                           type="text"
                           class="form-control"
                           id="title"
                           placeholder="Page Title">
                </div>
                <a class="btn btn-danger btn-block" href="#/user/:uid/page/:wid/page">
                    Delete
                </a>
            </form>
        </div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/:uid" class="white">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
